{% extends "blog/base.html" %}

{% block content %}
  
    
    
      <article class="media content-section" style="background-color: #f0f0f0; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 10px;">
      <img  class = "rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body" style="padding: 10px;">
          <div class="article-metadata" style="background-color: #e6e6e6; padding: 5px; border-bottom: 1px solid #ddd; margin-bottom: 10px;">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}" style="color: #333; font-weight: bold;">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2 class = "article-title"> {{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
          {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-secondary btn-sm">Update</a>
            <a href="{% url 'post-delete' pk=post.pk %}" class="btn btn-danger btn-sm">Delete</a>
          {% endif %}
        </div>
      </article>
\
    <footer style="text-align: center; background-color: #e6e6e6; padding: 10px; border-top: 1px solid #ddd; margin-top: 10px;">the end</footer>
  
    
{% endblock %}
